// colors

$white: #fff;
$black: #000;
$light-gray: #f4f4f4;
$gray: #e9e9e9;
$dark-gray: #a9a9a9;
$orange: #e75420;

$line-color: #c9c9c9;
$text-extra-color: #909090;
$section-color: #979797;
$button-promo-color: #8e8e8e;
$placeholder-color: #a7a7a7;
$caption-color: #8c8c8c;
$button-disabled-color: #a6a6a6;

// fonts
$main-font-family: 'Noto Sans', Arial, sans-serif;
// media

$min-mobile-width: 360px;
$mobile-width: 799px;
$tablet-width: 1199px;
$desktop-width: 1200px;

// transition
$global-transition: all 200ms ease-out;
