// colors

$white: #fff;
$black: #000;
$light-gray: #f4f4f4;
$gray: #a9a9a9;
$orange: #e75420;

// fonts
$main-font-family: 'Noto Sans', Arial, sans-serif;
// media

$mobile-width: 320px;
$tablet-width: 800px;
$desktop-width: 1200px;
