.auth-modal {
  display: none;
  padding: 15px 0 100px;

  font-size: rem(16);

  background-color: $white;

  @media (max-width: $tablet-width) {
    font-size: rem(13);
  }

  @media (max-width: $mobile-width) {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;

    width: 80%;
    padding: 20px;

    font-size: rem(14);

    transform: translate(-50%, -50%);
  }

  &--active {
    @media (max-width: $mobile-width) {
      display: block;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    max-width: 865px;
    width: 100%;
    margin: 0;
  }

  &__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 4px;

    @media (max-width: $tablet-width) {
      margin-bottom: 2px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 6px;
    }
  }

  &__input-wrapper {
    display: block;
    max-width: 407px;
    width: 47%;
    min-height: 100px;
    margin: 0 rem(50) 12px 0;

    @media (max-width: $tablet-width) {
      width: 43%;
      min-height: 83px;
      margin: 0 rem(42) 8px 0;
    }

    @media (max-width: $mobile-width) {
      max-width: none;
      width: 100%;
      min-height: auto;
      margin: 0 0 15px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  &__label {
    display: block;
    margin: 0 0 10px;

    @media (max-width: $mobile-width) {
      margin-bottom: 7px;
    }

    span {
      color: $orange;
    }
  }

  &__input {
    width: 100%;
    margin: 0 0 3px;
    padding: 12px 14px;

    font-family: inherit;
    font-size: rem(14);
    letter-spacing: 0.2px;

    border: none;
    background-color: $light-gray;

    @media (max-width: $tablet-width) {
      padding: 4px 10px 6px;

      font-size: rem(12);
      line-height: rem(20);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 0;
      padding: 10px 13px;

      font-size: rem(14);
      line-height: rem(20);
    }

    &::placeholder {
      color: $dark-gray;

      transition: $global-transition;
    }

    &:focus {
      outline: 2px solid $dark-gray;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__input-caption {
    font-size: rem(14);
    color: $dark-gray;

    @media (max-width: $tablet-width) {
      font-size: rem(12);
    }
  }
  &__button {
    margin: 0 30px 0 0;
    padding: 13px 57px 19px;
    color: $white;

    background-color: $orange;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      margin-right: 25px;
      padding: 9px 41px 11px;

      font-size: rem(16);
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      margin-right: 0;
      padding: 6px 15px 10px;

      font-size: rem(16);
    }
  }

  &__info {
    margin: 0;

    color: $dark-gray;

    @media (max-width: $tablet-width) {
      font-size: rem(16);
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
