.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: rem(15) rem(100) rem(17);

  font-size: rem(11);
  color: $dark-gray;

  background-color: $light-gray;

  @media (max-width: $tablet-width) {
    padding: rem(8) rem(20) rem(6);
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  &__item:not(:last-child) {
    display: flex;
    align-items: center;

    &::after {
      content: "";

      display: block;
      width: rem(4);
      height: rem(4);
      margin: 0 rem(10) 0;

      background-color: $dark-gray;
    }
  }

  &__link {
    display: block;
    color: inherit;
  }
}
