.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 15px rem(100) 17px;

  font-size: rem(11);
  color: $dark-gray;

  background-color: $light-gray;

  @media (max-width: 1199px) {
    padding: 8px rem(20) 6px;
  }

  &__item:not(:last-child) {
    display: flex;
    align-items: center;

    &::after {
      content: "";

      display: block;
      width: 4px;
      height: 4px;
      margin: 0 10px 0;

      background-color: $dark-gray;
    }
  }

  &__link {
    display: block;
    color: inherit;
  }
}
