.cart {
  max-width: rem(660);
  padding: rem(16) 0 rem(39);

  font-size: rem(14);

  @media (max-width: $tablet-width) {
    padding-bottom: rem(31);
  }

  @media (max-width: $mobile-width) {
    padding: rem(18) 0;
  }

  &__top-bar {
    width: 100%;
    padding: 0 0 rem(11);

    font-size: rem(20);

    border-bottom: 1px solid $dark-gray;

    @media (max-width: $tablet-width) {
      padding-bottom: rem(9);

      font-size: rem(16);
    }

    @media (max-width: $mobile-width) {
      padding-bottom: rem(6);
    }
  }

  &__order {
    margin-right: rem(10);

    font-weight: 700;

    @media (max-width: $tablet-width) {
      margin-right: rem(8);
    }

    @media (max-width: $mobile-width) {
      margin-right: rem(5);
    }
  }

  &__count {
    color: $dark-gray;
  }

  &__list {
    margin: 0 0 rem(32);
    padding: rem(21) 0 0;

    @media (max-width: $tablet-width) {
      margin-bottom: rem(22);
      padding-top: rem(17);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: rem(16);
      padding: rem(13) 0 rem(16);

      border-bottom: 1px solid $dark-gray;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 rem(25);

    @media (max-width: $tablet-width) {
      margin-bottom: rem(17);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: rem(25);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover .cart__del-button {
      opacity: 1;
    }
  }

  &__picture {
    display: block;
    width: rem(50);
    flex-shrink: 0;
    align-self: center;
    margin-right: rem(18);

    @media (max-width: $tablet-width) {
      width: rem(39);
      align-self: auto;
      margin-top: rem(4);
      margin-right: rem(16);
    }

    @media (max-width: $mobile-width) {
      width: rem(30);
      margin-right: rem(25);
    }
  }

  &__item-wrapper {
    display: flex;
    width: 100%;

    @media (max-width: $mobile-width) {
      display: block;
      max-width: rem(150);
      margin-right: rem(50);
    }
  }

  &__item-info {
    max-width: rem(250);
    margin-right: rem(25);

    @media (max-width: $tablet-width) {
      max-width: rem(170);
      margin-right: rem(50);
    }

    @media (max-width: $mobile-width) {
      max-width: none;
      margin-right: 0;
      margin-bottom: rem(3);
    }
  }

  &__link {
    display: block;

    line-height: rem(18);
    font-weight: 700;
    color: inherit;

    @media (max-width: $tablet-width) {
      font-size: rem(12);
      line-height: rem(14.5);
    }

    @media (max-width: $mobile-width) {
      padding-right: rem(20);
    }
  }

  &__item-color{
    margin: 0;

    font-size: rem(13);
    line-height: rem(22);

    @media (max-width: $tablet-width) {
      font-size: rem(10.5);
    }

    @media (max-width: $mobile-width) {
      font-size: rem(12);
    }
  }

  &__item-count {
    min-width: rem(40);
    margin: 0 rem(94) 0 0;

    line-height: rem(18);

    @media (max-width: $tablet-width) {
      margin-right: rem(67);

      font-size: rem(12);
    }

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: rem(3);
    }
  }

  &__price {
    margin: 0 rem(50) 0 0;
    letter-spacing: 0.6px;

    @media (max-width: $mobile-width) {
      margin-right: 0;
    }
  }

  &__price-tag {
    margin: 0 0 rem(6);

    font-size: rem(16);
    font-weight: 700;
    line-height: rem(16);

    @media (max-width: $tablet-width) {
      font-size: rem(13);
      line-height: rem(13);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: rem(2);

      font-size: rem(15);
      line-height: rem(18);
    }

    &::after {
      content: "\20BD";

      margin-left: rem(4);

      font-weight: 400;
    }
  }

  &__discount {
    margin: 0;

    font-size: rem(14);
    font-weight: 400;
    line-height: rem(20);
    letter-spacing: 0.3px;
    color: $dark-gray;

    @media (max-width: $tablet-width) {
      font-size: rem(12);
      line-height: rem(18);
    }

    &::after {
      content: "\20BD";

      margin-left: rem(4);

      font-weight: 400;
    }
  }

  &__del-button {
    position: relative;
    align-self: baseline;

    width: rem(20);
    height: rem(20);

    font-size: 0;
    line-height: 0;

    opacity: 0;
    cursor: pointer;

    transition: $global-transition;

    @media (max-width: $mobile-width) {
      margin-top: rem(7px);
    }

    &:focus {
      opacity: 1;

      &::before {
        outline: 2px solid $dark-gray;
      }
    }

    &::before {
      content: "\2715";

      position: absolute;
      top: 0;
      left: 0;

      width: rem(20);
      height: rem(20);

      font-size: rem(20);
      line-height: rem(20);
    }
  }

  &__bottom-bar {
    width: 100%;
  }

  &__promocode {
    display: flex;
    margin: 0 0 rem(12);

    @media (max-width: $tablet-width) {
      margin-bottom: rem(10);
    }
  }

  &__input-wrapper {
    display: block;
    margin-right: rem(5);

    @media (max-width: $mobile-width) {
      margin-right: rem(7);
    }
  }

  &__input {
    width: rem(145);
    padding: rem(10) rem(15);

    font-size: rem(16);

    border: none;
    background-color: $light-gray;

    @media (max-width: $tablet-width) {
      width: rem(117);
      padding: rem(8) rem(12);

      font-size: rem(13);
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      padding: rem(14) rem(15) rem(12);
    }

    &:focus {
      outline: 2px solid $dark-gray;
    }
  }

  &__promo-button {
    padding: rem(7) rem(29) rem(10);

    font-weight: 700;
    color: $dark-gray;

    background-color: $gray;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      padding: rem(6) rem(18) rem(7);

      font-size: rem(12);
    }

    @media (max-width: $mobile-width) {
      flex-shrink: 0;
      padding: rem(6) rem(22) rem(7);
    }

    &:focus {
      outline: 2px solid $dark-gray;
    }
  }

  &__sum {
    margin: 0;

    font-size: rem(20);
    font-weight: 700;

    @media (max-width: $tablet-width) {
      font-size: rem(16);
    }

    @media (max-width: $mobile-width) {
      font-size: rem(15);
    }

    & span {
      margin-left: 9px;

      font-size: rem(24);
      color: $orange;

      @media (max-width: $tablet-width) {
        margin-left: rem(7);

        font-size: rem(19);
      }

      &::after {
        content: "\20BD";

        margin-left: rem(5);

        line-height: 1.5;
      }
    }
  }
}
