.checkout {
  position: relative;

  width: 100%;
  padding: rem(18) rem(100) 0;

  font-size: rem(15);

  @media (max-width: $tablet-width) {
    padding: rem(15) rem(20) 0;
    font-size: rem(12);
  }

  @media (max-width: $mobile-width) {
    padding: rem(40) rem(16) 0;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 rem(39);
    padding: 0;

    @media (max-width: $tablet-width) {
      margin-bottom: rem(20);
    }

    @media (max-width: $mobile-width) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;

      width: 100vw;
      margin-bottom: 0;

      background-color: $white;

      transform: translateX(-100%);
      transition: transform 700ms ease;
    }

    &--active {
      display: block;

      transform: translateX(0);
    }
  }

  &__item:not(:last-child) {
    margin-right: rem(7);

    @media (max-width: $tablet-width) {
      margin-right: rem(15);
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__button {
    position: relative;

    display: block;
    padding: rem(14) rem(24) rem(14) rem(60);

    letter-spacing: 0.4px;
    color: inherit;

    @media (max-width: $tablet-width) {
      padding: rem(13) 0 rem(11) rem(50);

      font-size: rem(12);

      color: $dark-gray;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      padding-left: rem(20);

      font-size: rem(18);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: rem(12);

      font-family: "Icons";
      font-size: rem(35);
      color: $orange;

      transform: translateY(-50%);

      @media (max-width: $tablet-width) {
        left: rem(10);

        font-size: rem(30);
        color: $dark-gray;
      }

      @media (max-width: $mobile-width) {
        display: none;
      }
    }

    &--active {
      color: $white;

      background-color: $orange;

      @media (max-width: $tablet-width) {
        padding: rem(13) rem(16) rem(11) rem(50);

        letter-spacing: 0.9px;
      }

      @media (max-width: $mobile-width) {
        padding-left: rem(20);
      }

      &::before {
        color: $white;
      }

      &::after {
        content: "";

        position: absolute;
        bottom: rem(-11);
        left: rem(17);

        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem(13) rem(13) 0 rem(13);
        border-color: $orange transparent transparent transparent;

        @media (max-width: $tablet-width) {
          left: rem(16);
          bottom: rem(-9);

          border-width: rem(9) rem(9) 0 rem(9);
        }

        @media (max-width: $mobile-width) {
          display: none;
        }
      }
    }

    &--person {
      &::before {
        content: "\e900";
      }
    }

    &--method {
      &::before {
        content: "\e901";
      }
    }

    &--payment {
      &::before {
        content: "\e902";
      }
    }

    &--confirm {
      &::before {
        content: "\e903";
      }
    }
  }

  &__title {
    margin: 0 0 rem(20);

    font-size: rem(34);
    font-weight: 700;
    letter-spacing: 0.6px;

    @media (max-width: $tablet-width) {
      margin-bottom: rem(10);

      font-size: rem(32);
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &__top-bar {
    display: none;

    @media (max-width: $mobile-width) {
      display: flex;
      align-items: center;
    }
  }

  &__nav-button {
    position: relative;

    display: block;
    width: 100%;
    margin: 0;

    font-size: rem(18);
    font-weight: 700;
    text-align: center;
    color: inherit;

    &::before {
      content: "\e904";

      position: absolute;
      top: 50%;
      left: 0;

      display: block;
      width: rem(10);
      height: rem(17);

      font-family: "Icons";
      font-size: rem(15);
      color: $dark-gray;

      transform: translateY(-50%);
    }
  }

  &__tabs {
    display: flex;
    margin: 0 0 rem(25);

    font-size: rem(20);
    font-weight: 700;

    @media (max-width: $tablet-width) {
      margin-bottom: 17px;

      font-size: rem(16);
    }

    @media (max-width: $mobile-width) {
      display: none;

      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &--mobile {
      display: none;

      @media (max-width: $mobile-width) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem(4);
      }
    }
  }

  &__tab {
    display: block;
    padding: 0 0 rem(4);

    color: $dark-gray;

    &--active {
      color: $black;

      border-bottom: 2px solid $black;
    }

    &:not(:last-child) {
      margin-right: rem(57);

      @media (max-width: $tablet-width) {
        margin-right: rem(45);
      }
    }
  }

  &__tab-mobile {
    position: relative;

    display: block;
    width: 100%;
    padding-top: rem(13);

    letter-spacing: 0.6px;
    color: $black;

    border-top: 1px solid $dark-gray;
    border-bottom: none;

    &::before {
      content: "\e905";

      position: absolute;
      top: 60%;
      right: rem(-2);

      display: block;
      width: rem(14);
      height: rem(8);

      font-family: "Icons";
      font-size: rem(7);
      color: $dark-gray;
    }

    &--active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__button-mobile {
    display: block;
    width: 100%;
    margin-bottom: rem(16);
    padding: rem(6) rem(15) rem(10);

    color: $white;
    text-align: center;

    background-color: $orange;
  }

  &__section {
    display: none;

    &--active {
      display: block;
    }
  }
}
