.page {
  font-size: rem(16);

  @media (max-width: $tablet-width) {
      font-size: 16 / 800 * 100vw;
  }

  @media (max-width: $mobile-width) {
    font-size: 16 / 320 * 100vw;
  }

  @media (max-width: 360px) {
    font-size: rem(16);
  }

  &__body {
    width: 100%;

    font-family: $main-font-family;
    line-height: 1.5;
    font-weight: 400;
    color: $black;
  }

  &__wrapper {
    max-width: $desktop-width;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  &__layout {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: none;
    width: 100vw;
    height: 100vh;

    background-color: rgba($black, 0.4);

    transition: $global-transition;

    &--active {
      display: block;
    }
  }
}
