.user-section {
  padding: rem(15) 0 rem(100);
  font-size: rem(16);

  @media (max-width: $tablet-width) {
    font-size: rem(13);
  }

  @media (max-width: $mobile-width) {
    padding: rem(6) 0 rem(100);
    font-size: rem(14);
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    max-width: rem(865);
    width: 100%;
    margin: 0;
  }

  &__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 rem(4);

    @media (max-width: $tablet-width) {
      margin-bottom: rem(2);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: rem(6);
    }
  }

  &__input-wrapper {
    display: block;
    max-width: rem(407);
    width: 47%;
    min-height: rem(100);
    margin: 0 rem(50) rem(12) 0;

    @media (max-width: $tablet-width) {
      width: 43%;
      min-height: rem(83);
      margin: 0 rem(42) rem(8) 0;
    }

    @media (max-width: $mobile-width) {
      max-width: none;
      width: 100%;
      min-height: auto;
      margin: 0 0 rem(15);
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    &--phone {
      @media (max-width: $mobile-width) {
        order: 1;
      }
    }

    &--email {
      @media (max-width: $mobile-width) {
        order: 2;
      }
    }
  }

  &__label {
    display: block;
    margin: 0 0 rem(10);

    @media (max-width: $mobile-width) {
      margin-bottom: rem(7);
    }

    span {
      color: $orange;
    }
  }

  &__input {
    width: 100%;
    margin: 0 0 rem(3);
    padding: rem(12) rem(14);

    font-family: inherit;
    font-size: rem(14);
    letter-spacing: 0.2px;

    border: none;
    background-color: $light-gray;

    @media (max-width: $tablet-width) {
      padding: rem(4) rem(10) rem(6);

      font-size: rem(12);
      line-height: rem(20);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 0;
      padding: rem(10) rem(13);

      font-size: rem(14);
      line-height: rem(20);
    }

    &::placeholder {
      color: $dark-gray;

      transition: $global-transition;
    }

    &:focus {
      outline: 2px solid $dark-gray;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__input-caption {
    display: block;
    padding-top: rem(3);

    font-size: rem(14);
    color: $dark-gray;

    @media (max-width: $tablet-width) {
      font-size: rem(12);
    }
  }

  &__checkbox-wrapper {
    display: flex;
    width: 100%;
    margin: 0 0 rem(53);

    cursor: pointer;

    @media (max-width: $tablet-width) {
      margin-bottom: rem(44);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: rem(23);
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;

    width: 0.1px;
    height: 0.1px;

    opacity: 0;
    overflow: hidden;

    &:checked + .user-section__checkbox-indicator::before,
    &:checked + .user-section__checkbox-indicator::after {
      opacity: 1;
    }

    &:focus + .user-section__checkbox-indicator,
    &:active + .user-section__checkbox-indicator {
      outline: 2px solid $dark-gray;
    }
  }

  &__checkbox-indicator {
    position: relative;

    display: block;
    flex-shrink: 0;
    width: rem(25);
    height: rem(25);
    margin: rem(5) rem(21) 0 0;

    background-color: $light-gray;

    @media (max-width: $tablet-width) {
      width: rem(21);
      height: rem(21);
      margin: rem(3) rem(16) 0 0;
    }

    @media (max-width: $mobile-width) {
      width: rem(25);
      height: rem(25);
      margin-right: rem(13);
    }

    &::before {
      content: "\2713";

      position: absolute;
      left: 50%;
      top: 0;

      width: rem(20);
      height: rem(25);

      font-size: rem(25);
      line-height: rem(25);

      opacity: 0;

      transform: translateX(-50%   );
      transition: $global-transition;

      @media (max-width: $tablet-width) {
        width: rem(16);
        height: rem(21);
        font-size: rem(22);
        line-height: rem(22);
      }

      @media (max-width: $mobile-width) {
        width: rem(20);
        height: rem(25);
        font-size: rem(25);
        line-height: rem(25);
      }
    }
  }

  &__checkbox-text {
    display: block;

    font-size: rem(14);
    line-height: rem(24);

    @media (max-width: $tablet-width) {
      font-size: rem(11);
      line-height: rem(19);
    }

    @media (max-width: $mobile-width) {
      padding-right: 10px;

      font-size: rem(12);
      line-height: rem(17);
    }
  }

  &__button {
    margin: 0 rem(30) 0 0;
    padding: rem(13) rem(57) rem(19);
    color: $white;

    background-color: $orange;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      margin-right: rem(25);
      padding: rem(9) rem(41) rem(11);

      font-size: rem(16);
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      margin-right: 0;
      padding: rem(6) rem(15) rem(10);

      font-size: rem(16);
    }
  }

  &__info {
    margin: 0;

    color: $dark-gray;

    @media (max-width: $tablet-width) {
      font-size: rem(16);
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
