<section class="auth-modal" id="auth-modal">
  <h2 class="visually-hidden">Мобильная авторизация</h2>
  <form class="auth-modal__form" action="https://echo.htmlacademy.ru" method="post" id="auth-mobile">
    <div class="auth-modal__form-wrapper">

      <label class="auth-modal__input-wrapper">
        <span class="auth-modal__label">Логин<span>*</span></span>
        <input type="text" class="auth-modal__input" name="login">
      </label>

      <label class="auth-modal__input-wrapper">
        <span class="auth-modal__label">Пароль<span>*</span></span>
        <input type="password" class="auth-modal__input" name="password">
      </label>

    </div>
    <button class="auth-modal__button" type="submit">Войти</button>
    <p class="auth-modal__info">Выбрать способ доставки</p>
  </form>
</section>
