<section class="auth-modal" id="authMobile">
  <form class="auth-modal__form" method="post" id="authMobileForm">
    <div class="auth-modal__form-wrapper">

      <label class="auth-modal__input-wrapper">
        <span class="auth-modal__label">Логин<span>*</span></span>
        <input type="text" class="auth-modal__input" name="login">
      </label>

      <label class="auth-modal__input-wrapper">
        <span class="auth-modal__label">Пароль<span>*</span></span>
        <input type="password" class="auth-modal__input" name="password">
      </label>

    </div>
    <button class="auth-modal__button" type="submit">Войти</button>
    <p class="auth-modal__info">Выбрать способ доставки</p>
  </form>
</section>
