<section class="checkout__section checkout__section--auth user-section" id="signIn">
  <form class="user-section__form" method="post" id="auth">
    <div class="user-section__form-wrapper">

      <label class="user-section__input-wrapper">
        <span class="user-section__label">Логин<span>*</span></span>
        <input type="text" class="user-section__input" name="login">
      </label>

      <label class="user-section__input-wrapper">
        <span class="user-section__label">Пароль<span>*</span></span>
        <input type="password" class="user-section__input" name="password">
      </label>

    </div>
    <button class="user-section__button" type="submit">Войти</button>
    <p class="user-section__info">Выбрать способ доставки</p>
  </form>
</section>
