<section class="checkout__section authorization" id="signIn">
  <form class="authorization__form" method="post">
    <div class="authorization__form-wrapper">

      <label class="authorization__input-wrapper">
        <span class="authorization__label">Логин<span>*</span></span>
        <input type="text" class="authorization__input">
      </label>

      <label class="authorization__input-wrapper">
        <span class="authorization__label">Пароль<span>*</span></span>
        <input type="password" class="authorization__input">
      </label>

    </div>
    <button class="authorization__button" type="submit">Войти</button>
    <p class="authorization__info">Выбрать способ доставки</p>
  </form>
</section>
