<section class="cart">
  <h2 class="visually-hidden">Корзина</h2>
  <div class="cart__top-bar">
    <b class="cart__order">Ваш заказ</b>
    <span class="cart__count">3 товара</span>
  </div>
  <ul class="cart__list">
    {{# each global.cart}}
      <li class="cart__item">
        <a href="#" class="cart__picture">
          <img src="assets/img/{{src}}" alt="Фото товара">
        </a>
        <div class="cart__item-wrapper">
          <div class="cart__item-info">
            <a href="#" class="cart__link">{{name}}</a>
            <p class="cart__item-color">{{color}}</p>
          </div>
          <p class="cart__item-count">{{count}} шт.</p>
          <div class="cart__price">
            <p class="cart__price-tag">{{price}}</p>
            {{# if stock}}<p class="cart__discount">Скидка: {{discount}}</p>{{/ if}}
          </div>
        </div>
        <button class="cart__del-button">Удалить</button>
      </li>
    {{/each}}
  </ul>
  <div class="cart__bottom-bar">
    <form action="https://echo.htmlacademy.ru" class="cart__promocode" method="post" id="promo-form">
      <label class="cart__input-wrapper">
        <input class="cart__input" type="text" name="promocode" placeholder="XXXXXXX" required>
      </label>
      <button class="cart__promo-button" type="submit">Применить промокод</button>
    </form>
    <p class="cart__sum">Сумма: <span>60 000</span></p>
  </div>
</section>
