<section class="checkout">
  <ul class="checkout__nav">
    <li class="checkout__item">
      <a class="checkout__button checkout__button--active checkout__button--person">Кому доставить</a>
    </li>
    <li class="checkout__item">
      <a href="#" class="checkout__button checkout__button--method">Способ доставки</a>
    </li>
    <li class="checkout__item">
      <a href="#" class="checkout__button checkout__button--payment">Способ оплаты</a>
    </li>
    <li class="checkout__item">
      <a href="#" class="checkout__button checkout__button--confirm">Проверка и подтверждение</a>
    </li>
  </ul>
  <h1 class="checkout__title">Оформление заказа</h1>
  <div class="checkout__top-bar">
    <a href="#" class="checkout__nav-button">
      <i class="checkout__nav-icon"></i>
      Кому доставить
    </a>
  </div>


  {{> cart}}

  <div class="checkout__customer" id="tabs">
    <a href="#tabs-1" class="checkout__customer-button checkout__customer-button--active checkout__customer-button--reg" id="reg-button" data-type="#signUp">
      Для новых покупателей
    </a>
    <a href="#tabs-2" class="checkout__customer-button checkout__customer-button--auth" id="auth-button" data-type="#signIn">Войти</a>
  </div>
  <div class="checkout__customer checkout__customer--mobile">
    <a href="#" class="checkout__customer-button checkout__customer-button--active checkout__customer-button--reg" id="reg-button-mobile">
      <i class="checkout__tab-icon"></i>
      Для новых покупателей
    </a>
    <a href="#" class="checkout__customer-button checkout__customer-button--mobile" id="auth-mobile-button">Войти</a>
  </div>

  {{> registration}}
  {{> authorization}}
  {{> authModal}}
</section>
