<section class="checkout">
  <ul class="checkout__nav">
    <li class="checkout__item">
      <a class="checkout__button checkout__button--active checkout__button--person">Кому доставить</a>
    </li>
    <li class="checkout__item">
      <a href="#" class="checkout__button checkout__button--method">Способ доставки</a>
    </li>
    <li class="checkout__item">
      <a href="#" class="checkout__button checkout__button--payment">Способ оплаты</a>
    </li>
    <li class="checkout__item">
      <a href="#" class="checkout__button checkout__button--confirm">Проверка и подтверждение</a>
    </li>
  </ul>
  <h1 class="checkout__title">Оформление заказа</h1>
  <div class="checkout__top-bar">
    <a href="#" class="checkout__nav-button">
      <i class="checkout__nav-icon"></i>
      Кому доставить
    </a>
  </div>


  {{> cart}}

  <div class="checkout__tabs" id="tabs">
    <a href="#tabs-1" class="checkout__tab checkout__tab--active" id="reg-button" data-type="#signUp">
      Для новых покупателей
    </a>
    <a href="#tabs-2" class="checkout__tab" id="auth-button" data-type="#signIn">Войти</a>
  </div>
  <div class="checkout__tabs checkout__tabs--mobile">
    <a href="#" class="checkout__button-mobile" id="auth-modal-button" >Войти</a>
    <a href="#" class="checkout__tab-mobile checkout__tab-mobile--active" id="reg-button-mobile" data-type="#signUp">
      <i class="checkout__tab-icon"></i>
      Для новых покупателей
    </a>
  </div>

  {{> registration}}
  {{> authorization}}
  {{> auth-modal}}
</section>
