<section class="checkout__section checkout__section--active registration" id="signUp">
  <form class="registration__form" method="post" id="reg">
    <div class="registration__form-wrapper">

      <label class="registration__input-wrapper">
        <span class="registration__label">Ваше имя<span>*</span></span>
        <input type="text" class="registration__input" name="name" required>
      </label>

      <label class="registration__input-wrapper registration__input-wrapper--phone">
        <span class="registration__label">Телефон<span>*</span></span>
        <input type="text" class="registration__input" id="phone" placeholder="+ 7 (___) ___ - __ - __" name="phone" required>
        <span class="registration__input-caption">Необходим для уточнения деталей заказа</span>
      </label>

      <label class="registration__input-wrapper">
        <span class="registration__label">Ваша фамилия<span>*</span></span>
        <input type="text" class="registration__input" name="surname" required>
      </label>

      <label class="registration__input-wrapper registration__input-wrapper--email">
        <span class="registration__label">E-mail<span>*</span></span>
        <input type="email" class="registration__input" name="email" required>
        <span class="registration__input-caption">Пришлем информацию о заказе</span>
      </label>

    </div>
    <label class="registration__checkbox-wrapper">
      <input type="checkbox" class="registration__checkbox">
      <span class="registration__checkbox-indicator"></span>
      <p class="registration__checkbox-text">Получать информацию о скидках и секретных распродажах для клиентов FITSENSE.<br> Отличный способ следить за нашими лучшими предложениями.</p>
    </label>
    <button class="registration__button" type="submit">Далее</button>
    <p class="registration__info">Выбрать способ доставки</p>
  </form>
</section>
