<section class="checkout__section checkout__section--active checkout__section--reg user-section" id="signUp">
  <form class="user-section__form" method="post" id="reg">
    <div class="user-section__form-wrapper">

      <label class="user-section__input-wrapper">
        <span class="user-section__label">Ваше имя<span>*</span></span>
        <input type="text" class="user-section__input" name="name" required>
      </label>

      <label class="user-section__input-wrapper user-section__input-wrapper--phone">
        <span class="user-section__label">Телефон<span>*</span></span>
        <input type="text" class="user-section__input" id="phone" placeholder="+ 7 (___) ___ - __ - __" name="phone" required>
        <span class="user-section__input-caption">Необходим для уточнения деталей заказа</span>
      </label>

      <label class="user-section__input-wrapper">
        <span class="user-section__label">Ваша фамилия<span>*</span></span>
        <input type="text" class="user-section__input" name="surname" required>
      </label>

      <label class="user-section__input-wrapper user-section__input-wrapper--email">
        <span class="user-section__label">E-mail<span>*</span></span>
        <input type="email" class="user-section__input" name="email" required>
        <span class="user-section__input-caption">Пришлем информацию о заказе</span>
      </label>

    </div>
    <label class="user-section__checkbox-wrapper">
      <input type="checkbox" class="user-section__checkbox">
      <span class="user-section__checkbox-indicator"></span>
      <p class="user-section__checkbox-text">Получать информацию о скидках и секретных распродажах для клиентов FITSENSE.<br> Отличный способ следить за нашими лучшими предложениями.</p>
    </label>
    <button class="user-section__button" type="submit">Далее</button>
    <p class="user-section__info">Выбрать способ доставки</p>
  </form>
</section>
